@tailwind base;
@tailwind components;
@tailwind utilities;



/* #box2 {
  width: auto;
  height: auto;
  color: white;
  font-size:  10em;
  font-weight: 500;
  line-height: 130px;
  position: absolute;
  top: 250px;
  left: 100px;
  overflow: hidden;
}

#text {
  position: relative;
  left: -100%;
  animation: anim3 2s fowards 3s;
}

@keyframes anim3 {
  from {
    left: -100%
  }
  to {
    left: 0%
  }
}

#box3 {

} */